body {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
  font-family: "Lexend", sans-serif;
  background-color: whitesmoke;
  /* horizontal centering */
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  width: 500px;
  margin: 0 auto;
  min-height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  /*border: 5px solid black;*/
  background-color: white;
  font-weight: 300;
}

span {
  color: rebeccapurple;
  font-weight: bold;
}
