body {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
  /* horizontal centering */
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

p {
  width: 400px;
  border: 1px solid crimson;
  margin: 0 auto;
  min-height: 200px;
}
